

.authentication-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ff6900;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .action-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: aquamarine;
    color: #241f3f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: aqua;
  }
  
  .welcome-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .logout-button {
    background-color: #d9534f;
  }
  
  .logout-button:hover {
    background-color: #c9302c;
  }
  