
.navbar {
  background-color: none;
  padding: 10px;
  color: #fff;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #23dba4;
  font-weight: 1000px;
  font-family: 'Six Caps', sans-serif;
}

.footer-copyright {
  background-color: none;
  color: black;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both; 
  margin-top: 20px; 
  padding-left: 10px; 
  padding-right: 10px; 
}

.footer-copyright p {
  margin: 0;
}





